
legend{

max-width: auto;

}
.Crystal {

background-color: blue;
color: white;
text-align: center;
margin: 0px;
width: 555px;
line-height: 75px;

}

.Rules {

background-color: lightblue;
color: white; 
text-align: center;
width: 555px;
margin-bottom: 0px;
}


p {
    

color: purple; 
margin: 20px 0px 20px 0px;
margin-bottom: 10px;
text-align: center;
}


.info {
color: white; 
margin: 20px 80px 20px 0px;
padding: 0px;
border: solid blue 6px;
align-items: center;
text-align: center;
font-size: 25px;



}


body {

background-color: aqua;



}

.Intro {

border: 6px solid purple;
margin-top: 25px;
padding-bottom: 10px;
background-color: lightblue;

}

.Gems {

margin: 25px 0px 0px 0px;
padding: 7px;
border: 6px solid purple;
background-color: magenta;

}


.Score {

text-align: center;
color: white;


}

.display {

text-align: center;
margin: 0;


}

.rule {

    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 10px;


}

#footer {
    width: 100%;
    background-color:blue;
    color: white;
    text-align: center;
    margin-top: 20px;
    display: block;
    border: solid 6px purple;
  }

  .end {

  color: white;

  }

